body { 
    background-color: rgb(193, 191, 191);
    color: rgb(31, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(227, 216, 216);
 
}

h1{
    margin: 20px 20px
}
p{
    margin:1.6em
}
.red-border {
    border: 4px solid  rgb(221, 29, 29)
    
}
.box-1{
    color: rgb(82, 6, 94);
    font-size: larger;
    background-color: darkgoldenrod;
   
} 

.dylan2
    {font-weight: bold;
     color:blueviolet   


}

.dylan1
    {text-align: center;
}
ul{
    list-style-type: none;
    margin:20;
    padding:20;
}
.horizontaal menu li {
    display:inline;

}
.mooielijnen{
    margin:05;
    padding:50;
    
}



@media(min-width:600px){
 
    body{
        background-color:burlywood}
     p{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size: 25px;}
        
        
}

.box-1{
    background-color: salmon;
    text-align: center;
   }